## Mac crap
.DS_Store

## IDEA
*.xml
*.iml
app/.idea/*

## LATEX

.bbl
.aux
.toc
.synctex.gz
.out
.blg


*.aux
*.bbl
*.blg
*.fdb_latexmk
*.xml
*.gz
*.bcf
*.out
*.toc

## Java
*.class

## Sublime
*.sublime-project
*.sublime-workspace

