## Mac crap
.DS_Store

## IDEA
*.xml
*.iml
app/.idea/*

## LATEX

.bbl
.aux
.toc
.synctex.gz
.out
.blg


*.aux
*.bbl
*.blg
*.fdb_latexmk
*.xml
*.gz
*.bcf
*.out
*.toc
*.log
*.nav
*.snm
*.bak
*.fls

## Java
*.class

## Sublime
*.sublime-project
*.sublime-workspace

paper/media/*-converted-to.pdf


## SageMath
*.sage-chat
*.sage-history
